/* ====================================== */
/* ==============> GENERAL <=============*/


:root,
.light {
    --main-black: #1f1f1f;
    --box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    --box-shadow-all: 1 1px 1px 1 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    --main-gray: #787878;
    --main-blue: #00c3da;
    --white: #fff;

    --bg-color: #fff;
    --font-default: "Inter", sans-serif;
    --color-primary: var(--main-blue);
    --color-secondary: #37373f;
    --color-default: #212529;
    --color-tertiary: #7f7f90;
    --color-content: #4f4f5a;
    --color-content-info: #7d7d7d;
    --white: #fff;
    --black: #000;
    --black-toggle: #fff;
    --light-hue: 0;
    --light-saturation: 0%;
    --light-lightness: 100%;
    --color-light: hsl(var(--light-hue),
            var(--light-saturation),
            var(--light-lightness));
    --border-radius: 30px 30px 30px;
    --hover-social-color: #ffffff4d;
    --hover-social-color-icon: #37373f66;
    --fa-font-solid: normal 900 1em / 1 "Font Awesome 6 Free";
    --color-primary-hover: #58A0FF;
    --bs-link-color: #37373f;
    --logo-icon: url('../images/Vortex-light.png')
}

.d-none {
    display: none;
}

.no-border {
    border: none;
}

.dark {
    --bg-color: #000;
    --color-content-info: #fafafa;
    --color-content: #ccccce;
    --white: #000;
    --black: #fff;
    --color-light: #000000ff;
    --hover-social-color: #000000aa;
    --hover-social-color-icon: #ffffff66;
    --bs-link-color: #7d7d7d;
    --main-black: #ffffff;
    --box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.06), 0 2px 5px 0 rgba(255, 255, 255, 0.2);
    --main-gray: #adadad;
    --main-blue: #00c3da;
    --logo-icon: url('../images/Vortex-dark.png')
}

.navbar-nav li>a,
.navbar-nav li>button {
    color: var(--bs-link-color);
}

.navbar-nav li>a:hover {
    color: var(--black);
}

.navbar-nav li>button:hover {
    color: var(--white);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif, 'Source Sans Pro', sans-serif;
    font-weight: 600;
    scroll-behavior: smooth;
    background-color: var(--bg-color);
}

#about,
#team {
    padding-block: 2rem;
}

.text-black {
    color: var(--main-black);
}

.box-shadow-full {
    box-shadow: var(--box-shadow);
}

.border-gray {
    border-color: rgba(255, 255, 255, 0.2) !important;
}

.border-bluelight {
    border-color: rgba(0, 195, 218, 0.9) !important;
}

.text-gray {
    color: rgba(255, 255, 255, 1) !important;
}

.text-gray-bold {
    color: var(--main-gray) !important;
}

.bg-gray {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.bg-bluelight {
    background-color: rgba(0, 195, 218, 0.9) !important;
}

.bg-lightbrown {
    background-color: rgba(31, 31, 31, 0.7) !important;
}

.text-bluelight {
    color: var(--color-primary);
}

.text-blue {
    color: var(--color-primary-hover);
}

.w-55 {
    width: 55%;
}

.w-35 {
    width: 35%;
}

.w-10 {
    width: 10% !important;
}

.h-10 {
    height: 20% !important;
}

.w-10px {
    width: 10px !important;
}

.h-10px {
    height: 10px !important;
}

.h-35 {
    height: 35%;
}

.btn-white,
.btn-white-1,
.btn-bluelight {
    background-color: transparent;
    border-color: var(--white);
    color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 15px;
    width: 100px;
}

.btn-bluelight {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--white);

}

.text-dark-hover:hover {
    color: var(--main-black) !important;
}

.btn-white-1:hover {
    background-color: var(--white);
}

.btn-white:hover {
    color: var(--white);
    background-color: var(--white);
}

.btn-bluelight:hover {
    background-image: linear-gradient(to right, rgba(0, 200, 200, 1), rgba(255, 255, 255, 0.13), rgba(0, 200, 200, 1));
    border-color: var(--color-primary-hover);
    color: var(--white);
    background-color: var(--color-primary-hover);

}

.title h6,
h3 {
    color: var(--black) !important;
}


.fixed-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    margin-top: 1rem;
    overflow-y: auto;
    padding-top: 100px;
    padding-left: 50px;
    box-shadow: var(--box-shadow);
    border-right: 1px solid #d2d0d0;
}


.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-menu {
    margin-top: 0;
}


/* ====================================== */
/* ===============> TITLE <==============*/
.title h2 {
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: -1px;
    position: relative;
    color: var(--black) !important;
}

.title h4 {
    font-weight: 400;
    font-size: 16px !important;
    color: var(--main-gray) !important;
}

.title h2[data-bigletter]::before {
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    content: attr(data-bigletter);
    color: var(--main-black);
    font-size: 2em;
    opacity: 0.5;
    position: absolute;
    top: -0.5em;
    left: -0.15em;
    text-transform: uppercase;
}

/* ====================================== */
/* ===============> NAVBAR <==============*/
.navbar,
nav,
#home {
    z-index: 9999 !important;
}

#navbar>li {
    padding: 20px 15px;
}

.navbar-light {
    position: fixed;
    width: 100%;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    color: var(--main-black);
    transition: all .5s ease-in-out;
}

.logo-light {
    background-image: var(--logo-icon);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: contain;
    width: 100%;
}

.logo-dark {
    background-image: var(--logo-icon);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: contain;
    width: 100%;
}


body:not(body:has(:target)) li a[href="#home"],
body:has(.home:target) li a[href="#home"],
body:has(.about:target) li a[href="#about"],
body:has(.contact:target) li a[href="#contact"],
body:has(.work:target) li a[href="#work"],
body:has(.services:target) li a[href="#services"],
body:has(.pricing:target) li a[href="#pricing"],
body:has(.team:target) li a[href="#team"] {
    color: var(--black);
}


/* ******************************************** */
/* ===> header <=== */
.header {
    width: 100%;
    padding: 15px;
}

.header__container {
    padding: 50px 0;
    margin: 50px auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header__img {
    width: 100%;
    border-radius: 50%;
}

.header__img img {
    width: 100%;
    filter: drop-shadow(4px 4px 9px var(--black));
}

.header__img img:hover {
    animation: shake 1s infinite;
}

.header__content {
    margin: 50px auto;
    text-align: center;

    h2 {
        font-size: 4rem;
        margin: 0;
        color: var(--black);
    }

    p {
        margin: 20px;
        font-family: var(--font-default);
        font-size: 1rem;
        color: var(--color-content);
    }

    .header__btns a {
        display: inline-flex;
        font-family: var(--font-default);
        padding: 15px 20px;
        margin: 10px;
        text-decoration: none;
    }

    .main-header-btn {
        background-color: var(--color-primary);
        color: var(--white);
        border-radius: var(--border-radius);
    }

    .main-header-btn:hover {
        background-color: var(--color-primary-hover);
    }


    .sec-header-btn {
        color: var(--black);
        align-items: center;

        .btn-icon {
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 50%;
            background-image: linear-gradient(to right, var(--color-primary) 0 50%, transparent 50% 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 0.3rem;
        }

        .btn-icon i {
            font-size: 1rem;
            background-color: var(--white);
            border-radius: 50%;
            padding: 12px;
        }
    }

    .sec-header-btn:hover {
        color: var(--color-primary-hover);
    }
}


/* ====================================== */
/* ===============> ABOUT <==============*/
.hidden-btn a {
    font-size: 1rem;
    padding: 20px 30px;
    transition: all 0.5s;
    color: var(--black);
}

.hidden-btn:hover a {
    background-color: var(--main-black);
    color: var(--white);
}

#about .typing-quality::after {
    color: var(--color-primary);
    font-size: 24px;
    position: relative;
    content: '';
    animation: quality 5s infinite;
}

#about .typing-safety::after {
    color: var(--color-primary);
    font-size: 24px;
    position: relative;
    content: '';
    animation: safety 5s infinite;
}



/* ====================================== */
/* ===============> GALLARY <==============*/
.gallery-photos {
    --gap: 1.25rem;
    height: 72.8125rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.25rem;
}

.gallery-photos picture {
    width: calc(calc(100% - var(--gap) * 2) / 3);
    border: 4px solid #fff;
    position: relative;
    overflow: hidden;
}

.gallery-photos picture img {
    width: 100%;
    transition: scale var(--animation-duration);
}

.gallery-photos picture .layer {
    width: 100%;
    height: 100%;
    padding: 0.9375rem;
    background-color: #00000096;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: top var(--animation-duration);
}

.gallery-photos picture .layer p {
    color: #ddd;
    text-align: center;
}

.gallery-photos picture:hover img {
    scale: 1.1;
}

.gallery-photos picture:hover .layer {
    top: 0;
}


/* ====================================== */
/* ================> TEAM <==============*/

.card-layer h5,
.card-layer p {
    font-size: 1rem;
}

.card-layer {
    color: var(--white);
    opacity: 0;
    transform: translateY(60%);
    transition: all 0.5s 2ms;
}

.card {
    transition: all 0.5s 4ms;
}

.card:hover {
    transform: scale(1.1);
}

.card-layer a {
    color: #ffffffbb;
    cursor: pointer;
    font-size: 2rem;
    text-decoration: none;
}

.card-layer a:hover {
    color: var(--white);
    font-weight: 900;
}

.team-member {
    overflow: hidden;
}

.team-member:hover .card-layer {
    opacity: 1;
    transform: translateY(0);
}

.card-title,
.card-text {
    color: #fff;
}

/* ====================================== */
/* ==============> SERVICES <============*/
#services h5 {
    font-size: 1rem;
}

/* ====================================== */
/* ==============> PRICING <============*/
.btn-sm {
    padding: 0 16px;
    font-size: 0.8rem;
    height: 40px;
    line-height: 40px;
    background-color: var(--main-blue);
    color: var(--black);
}

.btn:hover {
    transform: translateY(-1px);
    background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.13), transparent);
    background-color: var(--color-primary-hover);
}

.btn:active {
    transform: translateY(1px);
}

.btn-shadow {
    box-shadow: 0 4px 16px rgba(255, 255, 255, 0.07);
}

.btn-shadow:hover {
    box-shadow: 5px 8px 26px rgba(255, 255, 255, 0.1);
}

#pricing.card h5 {
    font-size: 55px;
    font-weight: 500;
    letter-spacing: -3px;
    margin: 0;
}

#pricing.card h5 span {
    font-size: 18px;
    font-weight: 400;
    vertical-align: top;
}

.card-header {
    font-size: 0.8rem;
}

@media (min-width: 992px) {
    .scaled-card {
        transform: scale(1.1);
    }
}

.scaled-card {
    transition: all .3s ease;
}


/* ====================================== */
/* ===> ANIMATION <=== */
@keyframes zoomOut {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    100% {
        opacity: 1;
        transform: scale(1.2);
    }
}

/* quality */
@keyframes quality {
    0% {
        content: '| ';
    }

    5% {
        content: 'q| ';
    }

    10% {
        content: 'qu| ';
    }

    15% {
        content: 'qua| ';
    }

    20% {
        content: 'qual| ';
    }

    25% {
        content: 'quali| ';
    }

    30% {
        content: 'qualit| ';
    }

    35% {
        content: 'quality| ';
    }

    45% {
        content: 'quality ';
    }

    55% {
        content: 'quality| ';
    }

    65% {
        content: 'quality| ';
    }

    70% {
        content: 'qualit| ';
    }

    75% {
        content: 'quali| ';
    }

    80% {
        content: 'qual| ';
    }

    85% {
        content: 'qua| ';
    }

    90% {
        content: 'qu| ';
    }

    95% {
        content: 'q| ';
    }

    100% {
        content: '| ';
    }
}




/* safety */
@keyframes safety {
    0% {
        content: '| ';
    }

    6% {
        content: 's| ';
    }

    12% {
        content: 'sa| ';
    }

    18% {
        content: 'saf| ';
    }

    24% {
        content: 'safe| ';
    }

    30% {
        content: 'safet| ';
    }

    36% {
        content: 'safety| ';
    }

    50% {
        content: 'safety ';
    }

    60% {
        content: 'safety| ';
    }

    66% {
        content: 'safet| ';
    }

    72% {
        content: 'safe| ';
    }

    80% {
        content: 'saf| ';
    }

    88% {
        content: 'sa| ';
    }

    93% {
        content: 's| ';
    }

    100% {
        content: 's| ';
    }
}






/* ******************************************** */
/* ===> Animation <=== */

@keyframes shake {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    10% {
        transform: translate(1px, 1px) rotate(-1deg);
    }

    20% {
        transform: translate(3px, 2px) rotate(1deg);
    }

    30% {
        transform: translate(-1px, -1px) rotate(0deg);
    }

    40% {
        transform: translate(0, 0) rotate(-1deg);
    }

    50% {
        transform: translate(-3px, -2px) rotate(1deg);
    }

    60% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 2px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(0, 0) rotate(0deg);
    }

    100% {
        transform: translate(-3px, -2px) rotate(-1deg);
    }
}



/* ******************************************** */
/* ===> DESIGN <=== */
.mech-design,
.soft-design,
.elec-design {
    p {
        color: var(--black);
    }

    h4 {
        color: var(--color-primary);
    }

    figcaption {
        color: var(--main-gray);
    }
}

/* ******************************************** */
/* ===> LOCATION <=== */
#location iframe{
    box-shadow: var(--box-shadow-all);
    border: var(--box-shadow-all);
}