#card {
    transition: all 500ms;
}
#card:hover {
    transform: scale(1.1);
}
#card .sidebar {
    background-color: rgba(128, 128, 128, 0.4);
    right: -20%;
    top: 20px;
    transition: all 500ms;
}
#card:hover .sidebar {
    right: 5%;
}
.text-gray {
    color: gray;
}
.social {
    transition: all 200ms;
}
.social:hover {
    color: black;
}